.fifthdiv {
  background-color: #710060;
  height: 25rem;
  position: relative;
  margin-top: -100px;
  .bio-logo {
    width: 3rem;
    height: 3rem;
    position: absolute;
    transform: translate(2rem, -6rem);
  }
  .bio-text {
    font-size: 15px;
    color: white;
    position: absolute;
    transform: translate(6rem, -5rem);
  }
  .colstyle {
    position: absolute;
    transform: translate(62rem, -5rem);
    color: orange;
    font-weight: bold;
    font-size: 15px;
    white-space: nowrap;
  }
  .rowstyle > * {
    position: absolute;
    transform: translate(6rem, 6rem);
  }
  .phone {
    color: orange;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0;
    padding-left: 5px;
    position: absolute;
    transform: translate(31rem, -5rem);
  }
  .email {
    color: orange;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0;
    padding-left: 5px;
    position: absolute;
    transform: translate(31rem, -1rem);
  }
  .location {
    color: orange;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0;
    padding-left: 5px;
    position: absolute;
    transform: translate(31rem, 2.5rem);
  }
  .p2-phone {
    font-size: 15px;
    position: absolute;
    transform: translate(31.3rem, -3.5rem);
  }
  .p2-email {
    font-size: 15px;
    position: absolute;
    transform: translate(31.3rem, 0.5rem);
  }
  .p2-location {
    font-size: 15px;
    position: absolute;
    transform: translate(31.3rem, 4rem);
  }
  .locationimg {
    width: 17rem;
    height: 11rem;
    border-radius: 20px;
    position: absolute;
    transform: translate(61rem, -3rem);
  }
  hr {
    border-top: 1.5px solid #ffffff;
    position: relative;
    transform: translate(-1rem, 21rem);
    margin: 5rem 5rem;
  }
  .copyrights {
    color: white;
    text-align: center;
    font-size: 13px;
    position: absolute;
    transform: translate(38rem, 3rem);
    bottom: 4rem;
  }
}
