.login {
  width: 100vw;
  position: fixed;
  overflow: hidden;
  background-color: black;
  text-align: center;
  .background-img {
    margin-left: 10rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
  }

  .login-container {
    background-color: white;
    height: 46%;
    width: 35%;
    position: absolute;
    top: 15%;
    right: 60%;
    border-radius: 25px;
    padding: 20px;
  }
  .bio-logo {
    width: 3rem;
    height: 3rem;
  }
  .login-submit-btn {
    border-radius: 25px;
    padding: 7px 25px;
    margin-top: 30px;
    background-color: transparent;
    color: #f6913a;
    border: 2px solid #f6913a;
    font-weight: bold;
    font-size: 14px;
  }

  .login-submit-btn:hover {
    color: white;
    background-image: linear-gradient(to right, #f6913a, #a3238e);
    border: transparent;
  }
  hr {
    border: 1px solid #a3238e;
    margin: 1rem 6rem;
  }

  ::placeholder {
    color: rgb(209 209 209);
    font-size: 17px;
    padding-left: 1rem !important;
    font-weight: bold;
  }
  .remember-me:hover {
    color: #a3238e;
    cursor: pointer;
  }
}

